.spreadsheet-table {
    border-collapse: collapse;
    width: 100%;
}

.spreadsheet-table th, .spreadsheet-table td {
    border: 1px solid #ccc;

    text-align: center; 
    width: 8vw;
    height: 4vh;
}

.highlight{
    background-color: #91c6ec;
}
input{
    border: none;   
    width: 10vw;
    height: 4vh;

}